<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>A propos | JurisNumeris</title>

    

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
 

    <link href="/css/footer.css" rel="stylesheet" />
    <link href="/css/navbar.css" rel="stylesheet" />
    <link href="/css/about-us.css" rel="stylesheet" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head><!--/head-->
<body>
<%- include('./layout/navbar.ejs'); -%>

    
                              
                                    <h2 class="main-title">À propos</h2>
                                    <hr>
                                    <p>Juris Numeris Formation - Audit - Conseil - Etude en droit des TIC</p>
  
                        <p>Le Cabinet JurisNumeris est un projet innovant de jeunes ivoiriens diplômés en
                            droit des Télécommunications/TIC.
                            N Il est né en 2017 pour faire face au besoin croissant du marché local en matière
                            d’expertise juridique en droit du numérique.
                            E
                            T
                            Le Cabinet s'appuie sur des experts qui cumulent plusieurs années d'expérience
                            dans le secteur des TIC et interviennent dans plusieurs pays.</p>

                        <p>Les prestations fournies par le Cabinet JurisNumeris vous permettront de
                            connaître vos droits et obligations et de vous mettre en conformité avec la
                            réglementation en vigueur dans le domaine des Télécommunications/TIC.
                            Vous pourrez ainsi faire face aux évolutions technologiques et exigences du droit
                            des TIC tout en augmentant vos compétences afin de rester performants en toute
                            circonstance.
                            Nous nous engageons à vous garantir des prestations sur adaptées à votre
                            entreprise ainsi qu'un encadrement attentif et personnalisé.</p>


    <%- include('./layout/footer.ejs'); -%>
    <script src="/javascripts/navbar.js" ></script>
</body>
</html>
