<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Juris Numeris</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />    <!-- JavaScript Bundle with Popper -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/navbar.css" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/images/ico/favicon.ico" />
    <link href="/css/footer.css" rel="stylesheet" />

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
   </head
  ><!--/head-->
  <body>
     <!--/header-->
    <%- include('./layout/navbar.ejs'); -%>
    <!-- banner -->
  <div class="homeBanner">
           <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 470.92 470.92"><defs><style>.cls-1{fill:#0e5c5d;}.cls-2{fill:#fff;}.cls-3{fill:#00b1b4;}</style></defs><circle class="cls-1" cx="235.46" cy="235.46" r="235.46"/><rect class="cls-2" x="103.06" y="95.06" width="264.79" height="306.5" rx="46.07"/><rect class="cls-3" x="127.6" y="120.35" width="215.18" height="263.68" rx="38.09"/><path class="cls-2" d="M416.14,201.2a32.37,32.37,0,0,1,10.49,1.86,37.24,37.24,0,0,1,9.57,4.78q-1.33,6.78-2.46,12.22T431.68,230q-.93,4.45-1.79,8.1t-1.66,6.84q-3.19,12-6.58,21.59a158.53,158.53,0,0,1-7.17,17.33,103.5,103.5,0,0,1-8,13.68,68,68,0,0,1-9,10.49,54.82,54.82,0,0,1-9.3,7.17,27.51,27.51,0,0,1-8.63,3.58,38.22,38.22,0,0,1-9.83-1.19,27.91,27.91,0,0,1-7.77-3.25,15.83,15.83,0,0,1-5-4.92,11.59,11.59,0,0,1-1.8-6.31A31.15,31.15,0,0,1,357,293.7a102.57,102.57,0,0,1,5.71-13.35,17.77,17.77,0,0,1,3.72.8,43.13,43.13,0,0,1,4.25,1.59,26.28,26.28,0,0,1,3.85,2.06A10.29,10.29,0,0,1,377.1,287a39.38,39.38,0,0,0-6.91,9.63,20.86,20.86,0,0,0-2.66,9.1,9.19,9.19,0,0,0,.87,4,8.5,8.5,0,0,0,3,3.25q8.1-3,15.8-11.35A84,84,0,0,0,400.87,281a116.19,116.19,0,0,0,6.51-16.74q2.91-9.42,5-18.92t3.18-18.2a117.58,117.58,0,0,0,1.13-14.67c0-.62,0-1.48-.06-2.59s-.09-2.26-.14-3.45-.11-2.28-.2-3.26S416.14,201.56,416.14,201.2Z" transform="translate(-189.97 -37.07)"/><path class="cls-2" d="M414.72,379.46c-5.23-1.56-8.75-3-10.59-4.46a7,7,0,0,1-2.75-5.85,50,50,0,0,1,1.93-11.61q1.92-7.5,5-16.7t7.07-19.25q4-10,8.11-19.24t8.05-16.84a99.75,99.75,0,0,1,6.94-11.89l-1-5.77a21.53,21.53,0,0,1,5.36,1q3.44,1,6.94,2.33A58,58,0,0,1,456,274c1.79,1,2.77,1.77,3,2.41a75,75,0,0,0-1.1,10q-.42,6.68-.41,14.23,0,15,1.17,29.35a149.15,149.15,0,0,0,5.42,29.21q2.2-11,4.75-21.93t5.29-20.89q2.75-10,5.5-18.49t5.29-14.91a71.91,71.91,0,0,1,4.74-10q2.21-3.63,4-3.92a12.9,12.9,0,0,1,3.3,1.17,23.23,23.23,0,0,1,3.43,2.13,22.65,22.65,0,0,1,3,2.75,16.07,16.07,0,0,1,2.2,3c-2.94,1.19-5.84,4-8.73,8.38a97.35,97.35,0,0,0-8.25,16q-3.92,9.4-7.28,20.41t-5.91,21.65q-2.55,10.65-4,19.72a116.06,116.06,0,0,0-1.58,14.58.53.53,0,0,0,.14.41,2.93,2.93,0,0,1-.9.14h-.89a36.4,36.4,0,0,1-11.2-1.58q-4.89-1.59-6.4-4.47-2.88-11.55-4.81-22.27t-3.23-21.45q-1.31-10.71-2.06-21.65T439.32,285a80.43,80.43,0,0,0-5.5,10.79q-2.88,6.66-5.63,14.64t-5.29,16.77q-2.55,8.79-4.47,17.18t-3,15.88a91.33,91.33,0,0,0-1.09,13c0,1.92,0,3.3.06,4.12A7.84,7.84,0,0,0,414.72,379.46Z" transform="translate(-189.97 -37.07)"/></svg>
         <h1 class="homeBanner__title">CABINET JurisNumeris</h1>
         <h2 class="homeBanner__subtitle">La formation,qu'il vous faut en DROIT DES TICS !</h2>
         <img class="HomeBanner_img" src="/images/computer.png" alt="ordinateur" />
  </div>
    <!-- partie Mission -->
  <div class="missionsContainer">
    <h1 class="missionsContainer__title">
     Quelles sont nos missions ?
    </h1>
    <h2 class="missionsContainer__subtitle">
     En voici quelqu'unes 
    </h2>
    <div class="MissionSet">
      <div class="MissionItem">
        <svg id="Groupe_10" data-name="Groupe 10" xmlns="http://www.w3.org/2000/svg" width="115" height="115" viewBox="0 0 115 115">
          <rect id="Rectangle_9" data-name="Rectangle 9" width="115" height="115" rx="57.5" fill="#314a5b"/>
          <path id="Icon_awesome-leanpub" data-name="Icon awesome-leanpub" d="M49.493,10.63l1.949,32.139-1.417-.035a24.034,24.034,0,0,0-13.253,3.614A24.954,24.954,0,0,0,23.52,42.734c-5.882,0-10.595,1.382-15.945,3.579l4.04-33.344A31.955,31.955,0,0,1,23.52,10.63a17.45,17.45,0,0,1,13.253,5.492A17.315,17.315,0,0,1,49.493,10.63ZM73.057,54.073a21.223,21.223,0,0,1-9.107-2.02,33.266,33.266,0,0,0-13.926-3.225,18.255,18.255,0,0,0-13.253,5.244A18.255,18.255,0,0,0,23.52,48.829,33.266,33.266,0,0,0,9.594,52.053a21.626,21.626,0,0,1-8.929,2.02H.487L5.98,9A35.522,35.522,0,0,1,23.059,4.5c4.784,0,9.709.992,13.713,3.756,4-2.764,8.93-3.756,13.713-3.756A35.522,35.522,0,0,1,67.565,9Zm-5.6-5.776L63.065,12.118a32.382,32.382,0,0,0-13.04-2.764,18.866,18.866,0,0,0-13.253,5,18.866,18.866,0,0,0-13.253-5,32.382,32.382,0,0,0-13.04,2.764L6.086,48.3c6.095-2.516,10.7-4.323,17.434-4.323A24.068,24.068,0,0,1,36.772,47.8a24.068,24.068,0,0,1,13.253-3.827C56.757,43.974,61.364,45.781,67.459,48.3Z" transform="translate(20.634 27.994)" fill="#fff"/>
        </svg>
        
        <p class="missionItem__description">
          la formation professionnelle en droit des Télécommunications /TIC et autres 
          domaines ;
        </p>
      </div>
      <div class="MissionItem">
        <svg id="Groupe_9" data-name="Groupe 9" xmlns="http://www.w3.org/2000/svg" width="112.928" height="109.332" viewBox="0 0 112.928 109.332">
          <rect id="Rectangle_11" data-name="Rectangle 11" width="112.928" height="109.331" rx="54.666" fill="#3379a8"/>
          <path id="Icon_awesome-hand-pointer" data-name="Icon awesome-hand-pointer" d="M51.884,27.8V38.913a4.631,4.631,0,0,1-.123,1.061L48.055,55.725A4.633,4.633,0,0,1,43.546,59.3H19.457a4.633,4.633,0,0,1-3.746-1.908L.886,37.006a4.633,4.633,0,1,1,7.493-5.449l3.665,5.04V4.633a4.633,4.633,0,0,1,9.265,0V27.8h.927V23.163a4.633,4.633,0,0,1,9.265,0V27.8h.927v-2.78a4.633,4.633,0,1,1,9.265,0V27.8h.927a4.633,4.633,0,0,1,9.265,0ZM22.236,37.06H21.31V48.178h.927Zm10.192,0H31.5V48.178h.927Zm10.192,0h-.927V48.178h.927Z" transform="translate(30.436 21.421)" fill="#fff"/>
        </svg>        
        <p class="missionItem__description">
          le conseil juridique en droit des Télécommunications /TIC et autres domaines 
          ;
        </p>
      </div>
      <div class="MissionItem">
        <svg id="Groupe_11" data-name="Groupe 11" xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97">
          <rect id="Rectangle_10" data-name="Rectangle 10" width="97" height="97" rx="48.5" fill="#00b1b4"/>
          <path id="Icon_awesome-chalkboard-teacher" data-name="Icon awesome-chalkboard-teacher" d="M16.663,28.2a1.833,1.833,0,0,0-.566.087,10.568,10.568,0,0,1-3.28.554,10.577,10.577,0,0,1-3.28-.554,1.828,1.828,0,0,0-.565-.087A8.973,8.973,0,0,0,0,37.221a3.835,3.835,0,0,0,3.845,3.8H21.79a3.835,3.835,0,0,0,3.845-3.8A8.973,8.973,0,0,0,16.663,28.2Zm-3.845-2.564a7.691,7.691,0,1,0-7.691-7.691A7.69,7.69,0,0,0,12.818,25.635ZM47.425,0H16.663a3.915,3.915,0,0,0-3.845,3.973V7.691a10.138,10.138,0,0,1,5.127,1.426V5.127h28.2V28.2H41.016V23.072H30.762V28.2H24.655a10.21,10.21,0,0,1,3.18,5.127H47.425a3.915,3.915,0,0,0,3.845-3.973V3.973A3.915,3.915,0,0,0,47.425,0Z" transform="translate(22.511 27.558)" fill="#fff"/>
        </svg>

        
        <p class="missionItem__description">
          l’assistance et l’audit en droit des Télécommunications /TIC et autres 
          domaines ;
        </p>
      </div>
      <div class="MissionItem">
        <svg id="Groupe_12" data-name="Groupe 12" xmlns="http://www.w3.org/2000/svg" width="83" height="83" viewBox="0 0 83 83">
          <rect id="Rectangle_12" data-name="Rectangle 12" width="83" height="83" rx="41.5" fill="#0e427d"/>
          <path id="Icon_awesome-highlighter" data-name="Icon awesome-highlighter" d="M0,35.908l7.475,2.4,2.652-2.652L5.112,30.636ZM9.322,17.952a2.737,2.737,0,0,0-.807,2.85l.976,3.2-3.81,3.811,7.2,7.2,3.8-3.8,3.2.979a2.738,2.738,0,0,0,2.854-.806l2.66-3.115L12.428,15.3,9.322,17.952ZM39.494,5.93,34.766,1.2a4.106,4.106,0,0,0-5.62-.176L14.255,13.741l12.7,12.7L39.67,11.551a4.106,4.106,0,0,0-.176-5.621Z" transform="translate(18.373 22.137)" fill="#fff"/>
        </svg>
        
        
        <p class="missionItem__description">
          d’assurer les fonctions de correspondant en matière de données à caractère 
          personnel ;
        </p>
      </div>
      <div class="MissionItem">
        <svg id="Groupe_13" data-name="Groupe 13" xmlns="http://www.w3.org/2000/svg" width="101" height="101" viewBox="0 0 101 101">
          <rect id="Rectangle_13" data-name="Rectangle 13" width="105" height="105" rx="50.5" fill="#1877f2"/>
          <path id="Icon_material-schedule" data-name="Icon material-schedule" d="M26.427,3A23.45,23.45,0,1,0,49.9,26.45,23.439,23.439,0,0,0,26.427,3Zm.023,42.21A18.76,18.76,0,1,1,45.21,26.45,18.755,18.755,0,0,1,26.45,45.21Zm1.173-30.485H24.105V28.8l12.311,7.387L38.175,33.3,27.623,27.036Z" transform="translate(23.837 23.997)" fill="#fff"/>
        </svg>
        
        <p class="missionItem__description">
          l’organisation de manifestations scientifiques (choix des thèmes, rédaction 
des TDR, maîtrise de conférence, secrétariat technique, etc.)
        </p>
      </div>

    </div>
  </div>
<div class="Reasons__container">
  <h1 class="missionsContainer__title">
    Pourquoi JurisNumeris ?
   </h1>
   <div class="Reasons__container__item">
     <img class="reasons_item__image" 
     src="/images/Black-Lawyers.png"/>
     <div class="reasons_item__information">
 <h1 class="item__information__title">
  La qualité de la formation 
 </h1>
 <p class="missionItem__description">
  Le Cabinet s'appuie sur des experts qui cumulent plusieurs années d'expérience 
  dans le secteur des TIC et interviennent dans plusieurs pays.
 </p>
     </div>
   </div>
   <div class="Reasons__container__item">
    
    <div class="reasons_item__information">
<h1 class="item__information__title">
  Surete
</h1>
<p class="missionItem__description">
  Les prestations fournies par le Cabinet JurisNumeris vous permettront de 
  connaître vos droits et obligations et de vous mettre en conformité avec la 
  réglementation en vigueur dans le domaine des Télécommunications/TIC.
</p>

    </div>
    <img class="reasons_item__image" 
    src="/images/img1.png"/>
  </div>

  <!-- last image -->
  <div class="Reasons__container__item--1">
    <h1 class="item__information__title">
      Besoin de formation personnalisé ?
    </h1>
    <img class="reasons_item__image" 
    src="/images/img2.png"/>
<p class="missionItem__description">
  Nous nous engageons à vous garantir des prestations sur adaptées à votre entreprise ainsi qu'un encadrement attentif et personnalisé.
</p>
   
  </div>
</div>
<div class="Formations__container">
  <h1 class="missionsContainer__title">
    Nos Formations
   </h1>
   <div class="Formations__container__grid">
     <div class="formation__item">
     <img src="/images/team/team01.jpg" class="formation__img">
     <p class="formation__text">E-ADMINISTRATION</p>
     </div>
     <div class="formation__item">
      <img src="/images/team/team03.jpg" class="formation__img">
      <p class="formation__text">E-ADMINISTRATION</p>
      </div>
      <div class="formation__item">
        <img src="/images/team/team02.jpg" class="formation__img">
        <p class="formation__text">E-ADMINISTRATION</p>
        </div>
   </div>

   <div class="navbar__container__btn--1">
      <div class="btn--login--1">
        <a href="/formations"> Voir plus de formations</a>
      </div>
      
    </div>
    
 
</div>
<!-- <div class="FAQ__container">

</div> -->
<%- include('./layout/footer.ejs'); -%>

<script src="/javascripts/navbar.js" ></script>
  </body>
</html>
