header{
    background-color:#F8FBFD;
    display:flex;
    flex-direction: row;
    font-family: "DM sans";
    justify-content: space-between;
    padding: 0em 0.25em;
}
.navbar__container__brand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-transform: capitalize;

}
.navbar__container__brand svg{
    width:3em;
}
.navbar__container__links{
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.14em;
}
.navbar__container__btn{
    display:flex;
    justify-content:center;
     flex-direction: row;
     align-items: center;
    margin-top: 1.3em;
}
.btn--login{
    color:white;
    background-color:#052237 ;
    border-radius: 4px;
    padding: 0.8em 1.2em;
    font-weight: 600;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display:flex;
    width:11em;
}
.btn--login:hover{
    background: #000;
}
.navbar__hidden{
    display:none;
}
.navbar__hidden i {
    font-size: 1.4em;
    cursor: pointer;
}
.nav--link:hover{color:#da9310}
.navbar__second i:nth-child(2) {
   font-size: 600;
   font-size: 2em;
}
.navbar__second{
    display: flex;
    flex:2;
    justify-content: space-between;
}
@media screen and (max-width: 798px){
    .navbar__container{
        display:grid;
        padding-bottom: 0.5em;
        grid-template-rows: auto;
    }
    header{
        justify-content: inherit;
    }
  
    .navbar__container__btn{
        margin: auto;
        display: none;
    }
    .navbar__second{
        display: none;
        margin-right: 0.6em;
        flex-direction:column;
    }
    .first-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navbar__container__links{
        font-size:1.1em;
        display: none;
        flex-direction: column;
        margin-bottom: 0.6em;
    }
    .navbar__hidden{
        display:block;
        margin-right: 1em;
        
    }
   .btn--login{
       width: 11em;
   }
}
@media screen and (min-width: 768px){
    .navbar__container__btn ,.navbar__container__links{
        display: flex;
    }
}