
*:root{
    font-family: "DM sans";
}
.Container__title{
    font-size: 3em;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
.Formations__container{
    display:grid;
    padding: 1em;
    column-gap: 2em;
    row-gap: 2em;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr))
}

.formation__item{
    display: flex;
    flex-direction: column;
    height: 30em;
    width: 30em;
    background-color: #052237;
    border-radius: 8px;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform 1s ease;
}
.formation__item:hover{
    transform: translateY(-1em);
}
.formation__img{
    height: 12em;
}
.formation__item__name{
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-size: 1.5em;
    margin-left: 1em;
}
.formation__item__description{
    color:white;
    margin: 1em;
}
.Container__subtitle{
    color: #707077;
    font-size: 1.7em;
    text-align: center;
}
.formation__item__link{
    background-color: white;
    color:#052237;
    border: 2px solid white;
    padding: 1em;
    font-weight: 700;
    width: 10em;
    border-radius: 8px;
    position: absolute;
    bottom: 1em;
    right: 1em;
    
}
.formation__item__link:hover{
    text-decoration: none;
    background-color: #000;
    color:white;
}


@media screen and (max-width: 533px){
    .formation__item{
        width: 22em;

    }
    .formation__item__name{
        font-size: 1.2em;
    }
}