<header class="navbar__container" role="banner">
  <div class="first-menu">
    <div class="navbar__container__brand">
      <svg id="Groupe_2" data-name="Groupe 2" xmlns="http://www.w3.org/2000/svg" width="84" height="93" viewBox="0 0 84 93">
        <rect id="Rectangle_3" data-name="Rectangle 3" width="84" height="93" rx="17" transform="translate(0)" fill="#fff"/>
        <path id="Soustraction_1" data-name="Soustraction 1" d="M54.7,80.628H15.5A15.5,15.5,0,0,1,0,65.129V15.5A15.5,15.5,0,0,1,15.5,0H54.7a15.5,15.5,0,0,1,15.5,15.5V65.129a15.5,15.5,0,0,1-15.5,15.5ZM42.028,37.682l.283,1.69a29.6,29.6,0,0,0-2.038,3.481c-.764,1.484-1.557,3.143-2.359,4.929s-1.6,3.681-2.38,5.633-1.473,3.838-2.077,5.634-1.1,3.43-1.472,4.89a14.786,14.786,0,0,0-.564,3.4,2.051,2.051,0,0,0,.806,1.71,10.475,10.475,0,0,0,3.106,1.308,2.35,2.35,0,0,1-.1-.6c-.014-.246-.021-.653-.021-1.208a26.747,26.747,0,0,1,.323-3.8c.215-1.462.514-3.026.887-4.648s.816-3.327,1.31-5.03,1.019-3.365,1.553-4.91,1.088-2.983,1.653-4.286a23.383,23.383,0,0,1,1.614-3.159c.079,2.307.194,4.561.343,6.7.147,2.123.35,4.256.6,6.338s.573,4.195.948,6.277S45.3,66.3,45.86,68.547a3.05,3.05,0,0,0,1.876,1.308,10.733,10.733,0,0,0,3.288.464h.262a.819.819,0,0,0,.262-.04.169.169,0,0,1-.04-.121,33.84,33.84,0,0,1,.464-4.266c.282-1.767.676-3.709,1.17-5.774s1.076-4.191,1.734-6.338,1.376-4.151,2.138-5.976a28.692,28.692,0,0,1,2.42-4.688,6.149,6.149,0,0,1,2.561-2.454,4.7,4.7,0,0,0-.645-.886,6.364,6.364,0,0,0-.887-.8,6.667,6.667,0,0,0-1.009-.624A3.651,3.651,0,0,0,58.485,38c-.348.053-.742.439-1.17,1.147a20.731,20.731,0,0,0-1.391,2.938c-.494,1.238-1.016,2.707-1.553,4.366s-1.081,3.488-1.613,5.413S51.7,55.851,51.2,57.983s-.967,4.3-1.391,6.419a43.98,43.98,0,0,1-1.593-8.551c-.228-2.79-.343-5.681-.343-8.591,0-1.468.041-2.87.121-4.165a22.334,22.334,0,0,1,.322-2.918c-.054-.187-.345-.423-.867-.7a16.832,16.832,0,0,0-1.815-.825c-.681-.266-1.366-.5-2.037-.684A6.308,6.308,0,0,0,42.028,37.682Zm-28.7,1.967a38.475,38.475,0,0,0-2.14,4.991,11.708,11.708,0,0,0-.7,3.5,4.358,4.358,0,0,0,.672,2.359,5.926,5.926,0,0,0,1.891,1.838,10.454,10.454,0,0,0,2.911,1.217A14.472,14.472,0,0,0,19.652,54a10.394,10.394,0,0,0,3.236-1.341,20.55,20.55,0,0,0,3.484-2.681,25.573,25.573,0,0,0,3.36-3.923,38.836,38.836,0,0,0,2.986-5.115,59.659,59.659,0,0,0,2.688-6.481c.841-2.387,1.67-5.1,2.463-8.069.205-.82.415-1.68.623-2.558.216-.914.442-1.933.671-3.028s.49-2.343.771-3.7.591-2.888.921-4.568a14,14,0,0,0-3.583-1.788,12.232,12.232,0,0,0-3.932-.695c0,.133.016.377.049.745s.057.753.075,1.216q.021.574.042,1.11l.007.181c.017.4.025.731.025.968a43.994,43.994,0,0,1-.423,5.487c-.282,2.166-.684,4.454-1.2,6.8s-1.14,4.74-1.867,7.077A43.515,43.515,0,0,1,27.616,39.9a31.456,31.456,0,0,1-5.127,7.722,16,16,0,0,1-5.923,4.246,3.218,3.218,0,0,1-1.12-1.217,3.455,3.455,0,0,1-.324-1.515,7.816,7.816,0,0,1,1-3.4,14.764,14.764,0,0,1,2.588-3.6,3.716,3.716,0,0,0-.946-.819,9.928,9.928,0,0,0-1.443-.77,15.753,15.753,0,0,0-1.593-.6A6.665,6.665,0,0,0,13.331,39.65Z" transform="translate(5.873 7.557)" fill="#00b1b4"/>

      </svg>
       <p class="navbar__container__brand--tile">Juris Numeris</p>
     </div>
     <div class="navbar__second">
      <i id="openNav" class="fas fa-align-justify"></i>
      <i id="closeNav" class="">X</i>
  </div>
  </div>


    <ul class="navbar__container__links">
      <li ><svg class="svgIcon" xmlns="http://www.w3.org/2000/svg" height="70px" viewBox="0 0 24 24" width="70px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg><%= userName %></li>
      <li class="nav--link">

        <a href="/users/updateUser"><svg class="svgIcon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="44px" viewBox="0 0 24 24" width="44px" fill="#000000"><g><path d="M0,0h24v24H0V0z" fill="none"/><path d="M19.14,12.94c0.04-0.3,0.06-0.61,0.06-0.94c0-0.32-0.02-0.64-0.07-0.94l2.03-1.58c0.18-0.14,0.23-0.41,0.12-0.61 l-1.92-3.32c-0.12-0.22-0.37-0.29-0.59-0.22l-2.39,0.96c-0.5-0.38-1.03-0.7-1.62-0.94L14.4,2.81c-0.04-0.24-0.24-0.41-0.48-0.41 h-3.84c-0.24,0-0.43,0.17-0.47,0.41L9.25,5.35C8.66,5.59,8.12,5.92,7.63,6.29L5.24,5.33c-0.22-0.08-0.47,0-0.59,0.22L2.74,8.87 C2.62,9.08,2.66,9.34,2.86,9.48l2.03,1.58C4.84,11.36,4.8,11.69,4.8,12s0.02,0.64,0.07,0.94l-2.03,1.58 c-0.18,0.14-0.23,0.41-0.12,0.61l1.92,3.32c0.12,0.22,0.37,0.29,0.59,0.22l2.39-0.96c0.5,0.38,1.03,0.7,1.62,0.94l0.36,2.54 c0.05,0.24,0.24,0.41,0.48,0.41h3.84c0.24,0,0.44-0.17,0.47-0.41l0.36-2.54c0.59-0.24,1.13-0.56,1.62-0.94l2.39,0.96 c0.22,0.08,0.47,0,0.59-0.22l1.92-3.32c0.12-0.22,0.07-0.47-0.12-0.61L19.14,12.94z M12,15.6c-1.98,0-3.6-1.62-3.6-3.6 s1.62-3.6,3.6-3.6s3.6,1.62,3.6,3.6S13.98,15.6,12,15.6z"/></g></svg> Modifier Informations</a>

      </li>
      <li class="nav--link">

        <form method="POST" action="/users/logout" ><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/></svg><input type="submit" class="btnLogout" value="se deconnceter"></form>

      </li>
    </ul>





  </header>